# create pipeline for terraform code
stages:
  - validate
  - plan
  - apply

cache:
  paths:
    - .terraform/

variables:
  TF_ROOT: "./devops-task"
  TF_VERSION: "1.7.6"
  TF_IMAGE: "hashicorp/terraform:${TF_VERSION}"
  TF_WORKSPACE: "default"

before_script:
  - cd $TF_ROOT
  - terraform --version
  - terraform init -input=false -backend-config="workspace_key_prefix=$TF_WORKSPACE"

validate:
  stage: validate
  image: $TF_IMAGE
  script:
    - cd $TF_ROOT
    - terraform validate
  tags:
    - shell

plan:
  stage: plan
  image: $TF_IMAGE
  script:
    - cd $TF_ROOT
    - terraform workspace select $TF_WORKSPACE || terraform workspace new $TF_WORKSPACE
    - terraform plan -input=false -out=tfplan
  artifacts:
    paths:
      - $TF_ROOT/tfplan
  tags:
    - shell

apply:
  stage: apply
  image: $TF_IMAGE
  when: manual
  script:
    - cd $TF_ROOT
    - terraform workspace select $TF_WORKSPACE || terraform workspace new $TF_WORKSPACE
    - terraform apply --auto-approve -input=false tfplan
  dependencies:
    - plan
  only:
    - main
  manual: true
  tags:
    - shell

destroy:
  stage: apply
  image: $TF_IMAGE
  when: manual
  script:
    - cd $TF_ROOT
    - terraform workspace select $TF_WORKSPACE || terraform workspace new $TF_WORKSPACE
    - terraform destroy --auto-approve
  dependencies:
    - plan
  only:
    - main
  manual: true
  tags:
    - shell
  